<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703867477974-rsrl1rlac30f0gjt1cetrvnrv0ap7j00.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703867477974-rsrl1rlac30f0gjt1cetrvnrv0ap7j00</string>
	<key>API_KEY</key>
	<string>AIzaSyBa5-d3gboaGBLND73g_1dp8tbklnxH3FU</string>
	<key>GCM_SENDER_ID</key>
	<string>703867477974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gateway.millsberry</string>
	<key>PROJECT_ID</key>
	<string>millsberry-75545</string>
	<key>STORAGE_BUCKET</key>
	<string>millsberry-75545.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703867477974:ios:f2b12f0e5c7a88be</string>
	<key>DATABASE_URL</key>
	<string>https://millsberry-75545.firebaseio.com</string>
</dict>
</plist>